body {
  background-color: #222;
  color: #FFF;
}

#main {
  padding-top: 15vh;
}

#main-photo {
  display: inline-block;
  max-width: 200px;
}

#main-photo img {
  display: block;
  max-width: 100%;
  border: 3px solid #FFF;
}
