body{
    background-color: #FFFFFF;
    color: #222222;
}
#main{
    padding-top: 15vh;
}

#main-photo{
    display: inline-block;
    max-width: 200px;
    img{
        display: block;
        max-width: 100%;
        border:3px solid var(--yellow);
    }

}

body.dark{
    background-color: #222222;
    color: #FFFFFF;
}
