body {
  background-color: #FDFDFD;
  color: #222222;
}

#main {
  padding-top: 13vh;
}

#main-photo {
  display: inline-block;
  max-width: 200px;
}

#main-photo img {
  display: block;
  max-width: 100%;
  border: 3px solid var(--yellow);
}

.social-profiles {
  font-size: 2.5rem;
}

.social-profiles ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.social-profiles ul li {
  display: inline-block;
}

.social-profiles .telegram a {
  color: #0088cc;
}

.social-profiles .instagram a {
  color: #c32aa3;
}

.social-profiles .medium a {
  color: #333333;
}

.social-profiles .twitter a {
  color: #1da1f2;
}

.social-profiles .github a {
  color: #333333;
}

.social-profiles .linkedin a {
  color: #007bb5;
}

#dark-switch {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  text-align: center;
}

#dark-switch .switch-on {
  display: inline-block;
}

#dark-switch .switch-off {
  display: none;
}

.recent-entries ul {
  list-style: none;
  padding-inline-start: 1rem;
}

.recent-entries ul a {
  color: #006666;
}

body.dark {
  background-color: #222222;
  color: #FFFFFF;
}

body.dark .social-profiles .medium a {
  color: #FFFFFF;
}

body.dark .social-profiles .github a {
  color: #FFFFFF;
}

body.dark .recent-entries ul a {
  color: #5fffff;
}

body.dark #dark-switch .switch-on {
  display: none;
}

body.dark #dark-switch .switch-off {
  display: inline-block;
}
